<h1>Terms of use</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Order</th>
      <th>Content</th>
      <% if signed_in? %>
      <th></th>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @terms.each do |term| %>
      <tr>
        <td><%= term.order %></td>
        <td><%= term.content %></td>
	<% if signed_in? %>
        <td><%= link_to 'Show', term %></td>
        <td><%= link_to 'Edit', edit_term_path(term) %></td>
        <td><%= link_to 'Destroy', term, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if signed_in? %>
<%= form_tag({controller: "users", action: "update"}, method: "post")%>

<input type="hidden" name="accept_terms" value="<%= Time.now %>" id="term" >
<input type="submit" class="btn btn-primary" name="submit" value="I agree this terms of use">
<%= link_to 'New Term', new_term_path %>
<% end %>

