<script type="text/javascript">
function goFurther(){
  if (document.getElementById("term").checked == true)
    document.getElementById("btnSubmit").disabled = false;
  else
    document.getElementById("btnSubmit").disabled = true;
}
</script>

<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

     <input type="checkbox" id="term" onclick="goFurther()"> I agree this <%= link_to 'terms of use', terms_path %>
     <br/><br/>
     <input disabled="disabled" id="btnSubmit" class="btn btn-large btn-primary" name="commit" type="submit" value="Create my account" />
    <% end %>
  </div>
</div>
