<script type="text/javascript">
$( document ).ready(function() {
document.getElementById("btnSubmit").disabled = true;
});
function goFurther(){
  if (document.getElementById("term").checked == true)
    document.getElementById("btnSubmit").disabled = false;
  else
    document.getElementById("btnSubmit").disabled = true;
}
</script>


<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>
      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :email %>
      <%= f.text_field :email %>
      

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <input type="checkbox" name="user[accept_terms]" value="<%= Time.now %>" id="term" onclick="goFurther()"> I agree this <%= link_to 'terms of use', terms_path %>
     
     <br/><br/>
     <input id="btnSubmit" class="btn btn-large btn-primary" name="commit" type="submit" value="Submit" />
    <% end %>
  </div>
</div>
